{
  "creators": [
    {
    "name": "{{ author_family_name }}, {{ author_first_name }}",
      "affiliation": "Colorado School of Mines",
      "orcid": "{{ orcid }}"
    }
  ],
  "license": "BSD license",
  "contributors": [
    {
      "type": "Sponsor",
      "name": "Colorado School of Mines"
    }
  ],
  "related_identifiers": [
        {
            "scheme": "doi",
            "identifier": "10.5281/zenodo.5171937",
            "relation": "cites"
        },
        {
            "scheme": "doi",
            "identifier": "10.5281/zenodo.3981501",
            "relation": "cites"
        },
        {
            "scheme": "doi",
            "identifier": "10.1038/s41586-020-2649-2",
            "relation": "cites",
            "resource_type": {
                "type": "publication",
                "subtype": "article"
            }
        },
        {
            "scheme": "doi",
            "identifier": "10.5281/zenodo.5501881",
            "relation": "cites",
            "resource_type": "software"
        },
        {
            "scheme": "doi",
            "identifier": "10.5281/zenodo.5130718",
            "relation": "cites",
            "resource_type": "software"
        },
        {
            "scheme": "doi",
            "identifier": "10.5281/zenodo.5770407",
            "relation": "cites",
            "resource_type": "software"
        }
    ]
}
