# Credits

This package was developed at the `Mines Oceanography` lab at the
`Colorado School of Mines`.

* Colorado School of Mines

## Development Lead

* {{ author_first_name }} {{ author_family_name }} <{{ email }}>

## Contributors

*

## Acknowledgements

* This package was based on the [template](https://github.com/mines-oceanography/pypackage-template) created by Bia Villas Boas and Guilherme Castelão.
