# Checklist for project creation

Here is an opinionated checklist to follow when creating a new project.
Once you walk through it, you can delete it.

## Local repository

- [ ] Include file `.copier-answers.yml` in the repo to support updates
      (`git add .copier-answers.yml`).

## Github repository

- [ ] Is it public or private as you planned?
- [ ] About (first page, click in the wheel icon)
      - [ ] Description
      - [ ] Topics
- [ ] Settings -> General -> Uncheck: Allow merge commits
- [ ] Settings -> General -> Check: Allow squash merging
- [ ] Settings -> General -> Uncheck: Allow rebase merging
- [ ] Settings -> General -> Pull Requests -> Check: Always suggest updating
      pull request branches
- [ ] Settings -> General -> Pull Requests -> Select: Automatically delete
      head branches
- [ ] Settings -> General -> Issues -> Suggest check: Auto-close issues with
      merged linked pull requests
- [ ] Settings -> Collaborators: Add you team
- [ ] Advanced Security -> Enable: Dependency graph
- [ ] Advanced Security -> Dependabot -> Enable: Dependabot alerts
- [ ] Advanced Security -> Access to alerts -> Add your admin team
- [ ] Advanced Security -> Remember to save modifications (Save changes)
- [ ] Rules -> Rulesets -> New ruleset

## Codecov
If your repository is public, set up CodeCov to run with GutHub actions
by using [this guide](https://docs.codecov.com/docs/quick-start). If your
repository is _not_ public, consider removing the CodeCov github action
from ``/github/workflows``.
