{{ project_title }}
===================

.. toctree::
   :maxdepth: 2
   :caption: Contents:

   readme
   Installation <installation>
   usage
   modules
   API reference <_autosummary/{{ project_name }}>
   contributing
   authors
   history

   What is {{ project_name }}?
------------------------------

.. include:: ../README.md
   :parser: myst
   :end-before: NOTICE

Indices and tables
==================
* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
