name: Codecov

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  run:
    name: Codecov
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        fetch-tags: true

    - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 #v0.9.3
      with:
        pixi-version: v0.59.0
        locked: true
        cache: true
        cache-write: false
        environments: dev

    - name: Generate coverage report
      run: |
        pixi reinstall -e dev --locked {{ project_slug }}
        pixi run -e dev --locked tests

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: {% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw +%}
        files: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false
        verbose: true
