name: Python Documentation

permissions: write-all

on:
  pull_request:
  push:
    branches: [main]
  release:
    types: [created, published]
  workflow_dispatch:

jobs:
  build_docs:
    name: Build docs
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      # Install Latex if building PDF docs
      # - name: Install LaTeX
      #   run: "sudo apt-get install -y latexmk texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended texlive-xetex"

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set Pixi to manage environments
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 #v0.9.3
        with:
          pixi-version: v0.59.0
          cache: true
          cache-write: {% raw %} ${{ github.ref == 'refs/heads/main' }} {% endraw %}
          frozen: true
          environments: docs

      - name: Build HTML Docs
        run: pixi run -e doc python-docs  # This errors on warnings

      - name: deploy
        uses: peaceiris/actions-gh-pages@v4.0.0
        # Only deploy full versions, not dev releases
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          github_token: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
          publish_dir: ./docs/_build/html
          force_orphan: true
          full_commit_message: {% raw %}${{ github.event.head_commit.message }}{% endraw %}

      # Support for PDF docs
      # - name: Build document
      #   run: |
      #     cd docs
      #     make latexpdf

      # - name: Release
      #   uses: fnkr/github-action-ghr@v1
      #   env:
      #     GHR_PATH: docs/_build/latex/MyPackage.pdf
      #     GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
