"""Unit tests for `{{ project_slug }}` CLI"""

{% if command_line_interface == "Click" %}from {{ project_slug }}.cli import main as app
{% elif command_line_interface == "Typer" %}from {{ project_slug }}.cli import app
{% endif %}

def test_hello_command(cli_runner):
    """Test that the main CLI command works"""
    result = cli_runner.invoke(app)
    assert result.exit_code == 0
    assert "Hello from {{ project_name }}!" in result.stdout
