"""Test {{ project_name }} exception types"""

from pathlib import Path

import pytest

from {{ project_slug }}.exceptions import (
    {{ project_slug | upper }}Error,
    {{ project_slug | upper }}ValueError,
    {{ project_slug | upper }}RuntimeError,
)


BASIC_ERROR_MESSAGE = "An error message"


def test_exceptions_log_error(caplog, assert_message_was_logged):
    """Test that a raised exception logs message, if any"""

    try:
        raise {{ project_slug | upper }}Error
    except {{ project_slug | upper }}Error:
        pass

    assert not caplog.records

    try:
        raise {{ project_slug | upper }}Error(BASIC_ERROR_MESSAGE)
    except {{ project_slug | upper }}Error:
        pass

    assert_message_was_logged("{{ project_slug | upper }}Error", "ERROR")
    assert_message_was_logged(BASIC_ERROR_MESSAGE, "ERROR")


def test_exceptions_log_uncaught_error(assert_message_was_logged):
    """Test that a raised exception logs message if uncaught"""

    with pytest.raises({{ project_slug | upper }}Error):
        raise {{ project_slug | upper }}Error(BASIC_ERROR_MESSAGE)

    assert_message_was_logged("{{ project_slug | upper }}Error", "ERROR")
    assert_message_was_logged(BASIC_ERROR_MESSAGE, "ERROR")


@pytest.mark.parametrize(
    "raise_type, catch_types",
    [
        (
            {{ project_slug | upper }}ValueError,
            [{{ project_slug | upper }}Error, ValueError, {{ project_slug | upper }}ValueError],
        ),
        (
            {{ project_slug | upper }}RuntimeError,
            [{{ project_slug | upper }}Error, RuntimeError, {{ project_slug | upper }}RuntimeError],
        ),
    ],
)
def test_catching_error_by_type(raise_type, catch_types, assert_message_was_logged):
    """Test that exceptions are caught correctly"""
    for catch_type in catch_types:
        with pytest.raises(catch_type) as exc_info:
            raise raise_type(BASIC_ERROR_MESSAGE)

        assert BASIC_ERROR_MESSAGE in str(exc_info.value)
        assert_message_was_logged(raise_type.__name__, "ERROR")
        assert_message_was_logged(BASIC_ERROR_MESSAGE, "ERROR")


if __name__ == "__main__":
    pytest.main(["-q", "--show-capture=all", Path(__file__), "-rapP"])
