"""Integration tests for `{{ project_slug }}` package

Integration tests often check that different pieces of the package work
together as expected. These tests usually take longer to run than unit
tests and may require additional setup, such as databases or external
services.
"""

import {{ project_slug }}


def test_integration():
    """First integration test goes here"""
